include ./public-model/init
include ./public-model/head-bar

div.artcle-warpper
	h1 文章 Title is here.
	div.content
		p 阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算阿斯顿撒打算