include ./public-model/init
include ./public-model/head-bar

div.index-wrapper
	div.pure-g
		div.pure-u-lg-15-24
			div.article-wrapper
				ul
					li
						p.title 321
					li
						p.title 321111
		div.pure-u-lg-2-24
		div.pure-u-lg-7-24
