extends layout

block content
	h1= title
	p Welcome to Express
	div.content
		div.artcleList
			div.artcleBox
				div.textBox
					p name
						span -- time
					p title
					p infomation
				img(href="#")
	div.showMsg
	div

