include ./public-model/init
include ./public-model/head-bar

div.index-wrapper
	div.pure-g
		div.pure-u-lg-15-24
			div.article-wrapper
				ul
					li
						img.title-img
						div.text-box
							p.title Testing EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
							p.status 五五
								span  发布于 
									span 2014-5-5
							p.watch
								span 观看:500
								span 评论:250
					li
						img.title-img
						div.text-box
							p.title Testing EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
							p.status 五五
								span  发布于 
									span 2014-5-5
							p.watch
								span 观看:500
								span 评论:250
					li
						img.title-img
						div.text-box
							p.title Testing EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
							p.status 五五
								span  发布于 
									span 2014-5-5
							p.watch
								span 观看:500
								span 评论:250
					li
						img.title-img
						div.text-box
							p.title Testing EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
							p.status 五五
								span  发布于 
									span 2014-5-5
							p.watch
								span 观看:500
								span 评论:250
					li
						img.title-img
						div.text-box
							p.title Testing EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
							p.status 五五
								span  发布于 
									span 2014-5-5
							p.watch
								span 观看:500
								span 评论:250
		div.pure-u-lg-2-24
		div.pure-u-lg-7-24
