include ./publice-model/init
include ./publice-model/head-bar
div
div.pure-g
	div.pure-u-md-4-24
	div.pure-u-md-16-24
		div.login-box
			h2.text-center 请注册你的账号
			form(action="/api/user/register", method="POST").login-form
				input(type="text" name="account" placeholder="Enter your account").form-input
				input(type="password" name="password" placeholder="Enter your password").form-input
				input(type="password" name="repeat" placeholder="Repeat your password").form-input
				button(type="submit").btn-green submit

	div.pure-u-md-8-24