.index-wrapper{
	width:80%;
	margin:auto;
}
.index-wrapper .selectTab p{
	float:left;
	color:#999;
	border:solid 1px #999;
	padding:2px 15px 2px 15px;
	margin:10px;
	border-radius:100px;
}
.index-wrapper .selectTab .upload{
	float:left;
	color:#FFF;
	background: #e78170;
	border:solid 1px #e78170;
	padding:2px 15px 2px 15px;
	margin:10px;
	border-radius:100px;
}
.article-wrapper{
	padding:10px;
}
.article-wrapper ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.article-wrapper ul li{
	min-height:100px;
	margin-bottom:10px;
	padding:15px 0px 15px 0px;
	border-bottom: 1px dashed #d9d9d9;
	word-break:break-all;
	word-wrap:break-word;
}
.article-wrapper ul li:hover{

}
.article-wrapper ul li .text-box{
	padding-right: 120px;
}
.article-wrapper ul li .text-box>p{
	height:auto;
	margin:0px 0px 10px 0px;
}
.article-wrapper ul li .title{
	font-size:18px;
	color:#555;
	font-weight:bold;
	cursor:pointer;
}
.article-wrapper ul li .status{
	color:#005f3c;
	font-size: 14px;
}
.article-wrapper ul li .status span{
	color:#999;
}
.article-wrapper ul li .title-img{
	float:right;
	width:100px;
	height:100px;
}
.article-wrapper ul li .watch{
	color:#999;
	font-size: 14px;
}