.index-wrapper{
	width:80%;
	margin:auto;
}

.index-wrapper div{
	height:200px;
}

.article-wrapper{
	padding:10px;
}
.article-wrapper ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.article-wrapper ul li{
	height:150px;
}